/* --------- ESTILOS GENERALES ------------  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  border-top: black;
}

/* ----------------- INDEX ----------------*/
nav div.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navegador-b {
  align-items: end;
  height: 60px;
  z-index: 99999;
}
.navegador-b ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.navegador-b a {
  text-decoration: none;
  padding: 0.625rem;
  font-size: 170%;
  color: black;
  font-weight: bold;
}

.navbar-nav {
  background-color: white;
}

.opacidad {
  animation-name: opa;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navegador-b a:hover {
  color: rgb(32, 0, 65) !important;
}

.diferente {
  display: flex;
  align-items: center;
  width: 7%;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}

.diferente img:hover {
  color: rgb(32, 0, 65);
}

.nombre {
  display: flex;
  background-image: url(../multimedia/1-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50rem;
  filter: grayscale(100%);
  animation-name: opa;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

.inicio {
  position: absolute;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  animation-name: movimiento;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.inicio img {
  width: 6%;
  animation-name: escala;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes movimiento {
  0% {
    z-index: 999999;
    transform: translateY(150px);
  }
  100% {
    z-index: -1;
    transform: translateY(4px);
  }
}
@keyframes escala {
  0% {
    width: 40%;
  }
  100% {
    width: 7%;
  }
}
.marca {
  grid-area: nombre;
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: 800;
  color: white;
  text-shadow: black;
  padding: 15rem;
}

.animate__animated {
  animation-duration: 10s;
}

.size {
  font-size: 600%;
}

/* -----------------NOSOTROS----------------*/
.equipo:hover {
  transform: scale(1.03);
  transition: 1s;
}

.somos {
  grid-area: somos;
  border: solid 5px black;
  margin: 0px;
  padding: 40px;
  padding-left: 3%;
  color: black;
  font-weight: bold;
}

.equipo {
  padding: 1rem;
  font-size: 350%;
  text-align: center;
  border-bottom: solid 1px black;
}

.fotosbio {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.fotosbio a img {
  border-radius: 100%;
  filter: grayscale(100%);
}

a {
  text-align: center;
}

.fotosbio a img:hover {
  filter: none;
  transform: scale(1.05);
  transition: 1s;
}

.staff {
  display: flex;
}

.staffnombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.staffnombre:hover {
  transform: scale(1.03);
  transition: 1s;
}

/* ----------------- SERVICIOS ----------------*/
/* mapa */
.servicios-for1 {
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  color: white;
  background-color: rgb(24, 22, 22);
}

.servicios-for2 {
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  color: white;
  background-color: rgb(61, 61, 59);
}

.servicios-for3 {
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  color: white;
  background-color: rgb(37, 35, 37);
}

.servicios-for4 {
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  color: white;
  background-color: rgb(60, 60, 61);
}

.parallax1 {
  grid-area: parallax1;
  background-image: url(../multimedia/teatro.jpeg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  grid-area: parallax2;
  background-image: url(../multimedia/camaras-de-cine-blackmagic-pocket.jpeg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  grid-area: parallax3;
  background-image: url(../multimedia/CLAQUETA.jpeg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  grid-area: parallax4;
  background-image: url(../multimedia/pexels-donald-tong-66134.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  grid-area: parallax5;
  background-image: url(../multimedia/teatro.jpeg);
  min-height: 445px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenido, .contenido-diferente {
  text-shadow: whitesmoke;
  font-style: bold;
}

.contenido-diferente {
  font-size: 20px;
  font-weight: 700;
}

.titulo1 {
  font-size: 40px;
  color: grey;
}

.parallax1 {
  grid-area: parallax1;
  background-image: url(../multimedia/teatro.jpeg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  grid-area: parallax2;
  background-image: url(../multimedia/camaras-de-cine-blackmagic-pocket.jpeg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  grid-area: parallax3;
  background-image: url(../multimedia/CLAQUETA.jpeg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  grid-area: parallax4;
  background-image: url(../multimedia/pexels-donald-tong-66134.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  grid-area: parallax5;
  background-image: url(../multimedia/teatro.jpeg);
  min-height: 445px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------- PROYECTOS ----------------*/
.titulo {
  padding: 10px;
  text-align: center;
}

.foto1 {
  grid-area: foto1;
  display: flex;
  justify-content: start;
  padding: 10px;
}

.foto2 {
  grid-area: foto2;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.foto3 {
  grid-area: foto3;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.foto4 {
  grid-area: foto4;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.foto1 img:hover {
  transform: scale(1.05);
  transition: 1s;
}

.foto2 img:hover {
  transform: scale(1.05);
  transition: 1s;
}

.foto3 img:hover {
  transform: scale(1.05);
  transition: 1s;
}

.foto4 img:hover {
  transform: scale(1.05);
  transition: 1s;
}

/* ----------------- CONTACTO ----------------*/
.contacto-bg {
  grid-area: formulario;
  height: 40rem;
  filter: grayscale(85%);
  text-shadow: dimgray;
}

.formulario {
  color: black;
  font-weight: bold;
}

label {
  display: block;
  padding: 1rem;
}

label > input, textarea {
  display: block;
  padding: 1rem;
  width: 80%;
  opacity: 35%;
  border: solid 1px black;
  color: white;
  font-weight: bold;
}

.contactanos {
  color: black;
  font-weight: bold;
  margin: 1rem;
  font-size: 250%;
  text-align: center;
}

input, textarea {
  transition: all 1s;
}

input:focus, textarea:focus {
  width: 1015px;
  background-color: #1D3557;
}

/* ----------------- FOOTER ----------------*/
.fondofooter {
  grid-area: footer;
  background-color: white;
  text-align: center;
}

.redes {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

.redes img {
  width: 5%;
  padding: 0px 10px;
}

h3 {
  font-weight: bold;
  color: black;
}

/* ----------------- responsive index laptop ----------------*/
@media screen and (max-width: 1440px) {
  .navegador-b {
    height: 80px;
  }
  .inicio {
    margin-left: 149px;
  }
  .inicio img {
    width: 7%;
    animation-name: escala;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
  @keyframes escala {
    0% {
      width: 40%;
    }
    100% {
      width: 8%;
    }
  }
  .marca {
    grid-area: nombre;
    text-align: center;
    font-family: "Bebas Neue";
    font-weight: 800;
    color: white;
    text-shadow: black;
    padding: 16rem;
  }
}
/* ----------------- responsive index laptop ----------------*/
@media screen and (max-width: 1024px) {
  a {
    padding: 15rem;
  }
  .navegador-b {
    height: 60px;
  }
  .inicio {
    position: absolute;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    animation-name: movimiento;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
  .inicio img {
    width: 6%;
    animation-name: escala;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
  @keyframes movimiento {
    0% {
      z-index: 999999;
      transform: translateY(150px);
    }
    100% {
      z-index: -1;
      transform: translateY(4px);
    }
  }
  @keyframes escala {
    0% {
      width: 40%;
    }
    100% {
      width: 7%;
    }
  }
  .size {
    font-size: 450%;
    padding: 0%;
  }
}
/* ----------------- responsive index tablet ----------------*/
@media screen and (max-width: 768px) {
  .inicio {
    margin-left: 3px;
    margin-top: 0px;
  }
  .inicio img {
    width: 8%;
  }
  @keyframes movimiento {
    0% {
      z-index: 999999;
      transform: translateY(90px);
    }
    100% {
      z-index: -1;
      transform: translateY(20px);
    }
  }
  @keyframes escala {
    0% {
      width: 20%;
    }
    100% {
      width: 9%;
    }
  }
  .navegador-b a {
    font-size: 120%;
  }
  .diferente {
    width: 10%;
  }
  .size {
    font-size: 350%;
  }
  .nombre {
    height: 40rem;
  }
  .marca {
    padding: 10rem;
  }
  .fondofooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
/* ----------------- responsive index mobile ----------------*/
@media screen and (max-width: 425px) {
  .opacidad {
    animation-name: opa;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
  .inicio img {
    width: 0%;
  }
  .nombre {
    animation-name: opa;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
  .diferente {
    width: 15%;
  }
  .nombre {
    height: 20rem;
  }
  .marca {
    padding: 2rem;
  }
  .size {
    font-size: 200%;
  }
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 6%;
    padding: 0px 5px;
  }
  h3 {
    font-size: 95%;
  }
}
/* ----------------- responsive index mobile ----------------*/
@media screen and (max-width: 375px) {
  .marca {
    padding: 2rem;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 6%;
    padding: 0px 5px;
  }
}
/* ----------------- responsive index mobile ----------------*/
@media screen and (max-width: 320px) {
  .marca {
    padding: 2rem;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 7%;
    padding: 0px 5px;
  }
  .size {
    font-size: 160%;
  }
  h3 {
    font-size: 90%;
  }
}
/* ----------------- responsive proyecto laptop ----------------*/
@media screen and (max-width: 1024px) {
  .conteiner {
    grid-template-columns: repeat(2, 510px);
    grid-template-rows: 48px 50px 300px 300px 66px;
    grid-template-areas: "header header" "titulo titulo" "foto1 foto2" "foto3 foto4" "footer footer";
  }
  header {
    height: 3rem;
  }
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navegador {
    height: 3rem;
  }
  .nombre {
    padding: 5rem;
  }
}
/* ----------------- responsive proyecto tablet ----------------*/
@media screen and (max-width: 768px) {
  .navegador ul {
    height: 3rem;
  }
  .diferente {
    width: 8%;
  }
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header {
    height: 3rem;
  }
}
/* ----------------- responsive proyecto mobile ----------------*/
@media screen and (max-width: 425px) {
  .diferente {
    width: 15%;
  }
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header {
    height: 3rem;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 4%;
    padding: 0px 5px;
  }
}
/* ----------------- responsive proyecto mobile ----------------*/
@media screen and (max-width: 375px) {
  .diferente {
    width: 15%;
  }
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header {
    height: 3rem;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 4%;
    padding: 0px 5px;
  }
}
/* ----------------- responsive proyecto mobile ----------------*/
@media screen and (max-width: 320px) {
  .diferente {
    width: 15%;
  }
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header {
    height: 3rem;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 4%;
    padding: 0px 5px;
  }
}
/* ----------------- responsive nosotros laptop ----------------*/
@media screen and (max-width: 1024px) {
  .somos {
    margin: 3px;
  }
  a {
    padding: 0;
  }
}
/* ----------------- responsive nosotros tablet ----------------*/
/* ----------------- responsive nosotros mobile ----------------*/
@media screen and (max-width: 425px) {
  .staff {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .staffnombre h2, h4 {
    text-align: center;
  }
  .fotosbio a img {
    width: 70%;
  }
}
/* ----------------- responsive nosotros mobile ----------------*/
/* ----------------- responsive nosotros mobile ---------------- */
@media screen and (max-width: 320px) {
  .fotosbio a img {
    width: 90%;
  }
}
/* ----------------- responsive servicios laptop ----------------*/
@media screen and (max-width: 1024px) {
  .navegador {
    height: 3rem;
  }
}
/* ----------------- responsive servicios tablet ----------------*/
@media screen and (max-width: 768px) {
  .navegador ul {
    height: 3rem;
  }
  .diferente {
    width: 5%;
  }
  .fondofooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header {
    height: 3rem;
  }
}
/* ----------------- responsive servicios mobile ----------------*/
@media screen and (max-width: 425px) {
  .navegador-b {
    height: 48px;
  }
  .navegador {
    height: 10.1rem;
    position: absolute;
  }
  .navegador ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    padding-top: 5px;
  }
  .diferente {
    width: 15%;
  }
  .fondofooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header {
    height: 3rem;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 4%;
    padding: 0px 5px;
  }
  .parallax5 {
    min-height: 205px;
  }
}
/* ----------------- responsive servicios mobile ----------------*/
@media screen and (max-width: 375px) {
  .navegador-b {
    height: 48px;
  }
  .navegador {
    height: 10.1rem;
    position: absolute;
  }
  .navegador ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    padding-top: 5px;
  }
  .diferente {
    width: 15%;
  }
  .fondofooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header {
    height: 3rem;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 4%;
    padding: 0px 5px;
  }
  .parallax5 {
    min-height: 150px;
  }
}
/* ----------------- responsive servicios mobile ----------------*/
@media screen and (max-width: 320px) {
  .navegador-b {
    height: 48px;
  }
  .navegador {
    height: 10.1rem;
    position: absolute;
  }
  .navegador ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
    padding-top: 5px;
  }
  .diferente {
    width: 15%;
  }
  .fondofooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
  header {
    height: 3rem;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 4%;
    padding: 0px 5px;
  }
  .parallax5 {
    min-height: 116px;
  }
}
/* ----------------- responsive contacto laptop ----------------*/
@media screen and (max-width: 1024px) {
  header {
    height: 3rem;
  }
  .fondofooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navegador {
    height: 3rem;
  }
  .contacto-bg {
    height: 35rem;
  }
}
/* ----------------- responsive contacto tablet ----------------*/
@media screen and (max-width: 768px) {
  .diferente {
    width: 8%;
  }
  header {
    height: 3rem;
  }
  .contacto-bg {
    height: 27rem;
  }
  .contactanos {
    margin: 0px;
    font-size: 200%;
  }
  label > input, textarea {
    width: 70%;
    padding: 0rem;
  }
  input:focus, textarea:focus {
    width: 600px;
    background-color: #1D3557;
  }
}
/* ----------------- responsive contacto mobile ----------------*/
@media screen and (max-width: 425px) {
  .contacto-bg {
    height: 20rem;
  }
  .contactanos {
    margin: 0px;
    font-size: 200%;
  }
  label {
    padding: 0rem;
  }
  label > input, textarea {
    width: 50%;
    padding: 0rem;
  }
  input:focus, textarea:focus {
    width: 350px;
    background-color: #1D3557;
  }
  .diferente {
    width: 15%;
  }
  .fondofooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 6%;
    padding: 0px 5px;
  }
}
/* ----------------- responsive contacto mobile ----------------*/
@media screen and (max-width: 375px) {
  .contactanos {
    margin: 0px;
    font-size: 200%;
  }
  label {
    padding: 0rem;
  }
  label > input, textarea {
    width: 50%;
    padding: 0rem;
  }
  input:focus, textarea:focus {
    width: 300px;
    background-color: #1D3557;
  }
  .diferente {
    width: 15%;
  }
  .fondofooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 6%;
    padding: 0px 5px;
  }
}
/* ----------------- responsive contacto mobile ----------------*/
@media screen and (max-width: 320px) {
  .navegador-b {
    height: 0rem;
  }
  label {
    padding: 0rem;
  }
  label > input, textarea {
    width: 50%;
    padding: 0rem;
  }
  input:focus, textarea:focus {
    width: 250px;
    background-color: #1D3557;
  }
  .redes img {
    flex-wrap: wrap;
    flex-direction: column;
    width: 7%;
    padding: 0px 5px;
  }
  .contactanos {
    font-size: 150%;
    text-align: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
